delta.egg-info/
__pycache__

# Ignore state files
.netdiscover_subnet_index
.netdiscover_subnet_last_run
.wifi_auth_last_run
.wifi_signal_last_run
scratch.json

data.db
data.db-shm
data.db-wal
delta.log

.env
.direnv/
build/
dist/

hydra.restore
